option_settings:
  aws:elasticbeanstalk:application:environment:
    LOG_LEVEL: DEBUG
    STORAGE_BACKEND: s3
    S3_BUCKET_NAME: bmsrd-ngs-omics
    LAMBDA_REGION: us-east-1
    LAMBDA_FUNCTION_NAME: ngs360-omics-run-event-processor-LambdaFunction-L3z8fJzoS4Dx
    NGS360_API_URL: https://ngsdev.rdcloud.bms.com

